/* @font-face {
  font-family: 'Satoshi-Regular';
  src: url('../fonts/Satoshi-Regular.woff2') format('woff2'),
    url('../fonts/Satoshi-Regular.woff') format('woff'),
    url('../fonts/Satoshi-Medum.ttf') format('woff2'),
    url('../fonts/Satoshi-Medum.ttf') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
} */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');

* {
  font-family: 'Cormorant SC', serif;
}

/* h1 {
  text-align: center;
  color: $textColor;
  position: relative;
  top: 25%;
} */
body {
  font-family: 'Cormorant SC', serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: rgb(19, 19, 19);
  color: #333333;
  text-decoration: none;
  background-size: cover;
}

h1 img {
  position: fixed;
  top: 43%;
  left: 50%;
  width: 20%;
  transform: translate(-50%, 0);
  z-index: 2;
}

img {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 370px;
  transform: translate(-50%, -50%);
}

footer {
  font-size: 16px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 30px;
  width: 100%;
}

footer a {
  text-decoration: underline;
  color: #ffffff;
}

hero {
  font-size: 40px;
  width: 100%;
  color: #ffffff;
}

.colored {
  font-size: 30px;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 250px;
  width: 100%;

  background-image: -webkit-linear-gradient(
    50deg,
    #a2ffff 10.67%,
    #35d08d 89.67%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: colored 3s infinite reverse;
}

@-webkit-keyframes colored {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-1turn);
  }
}
@media (max-width: 590px) {
  body {
    font-family: 'Cormorant SC', serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #000000;
    background-color: #181515;
    background-image: none;
    text-decoration: none;
  }

  h1 img {
    position: fixed;
    top: 30%;
    left: 50%;
    width: 17%;
    transform: translate(-50%, 0);
    z-index: 2;
  }

  footer {
    font-size: 20px;
    color: #ffffff;
    display: block;
    justify-content: center;
    position: fixed;
    bottom: 30px;
    width: 100%;
    align-items: center;
  }
}

@media (max-width: 330px) {
  footer {
    padding: 0 55px;
  }
}
